@charset "utf-8";
*{margin:0;padding:0}
body{font-size:14px;line-height:1.5;color:#555}
h1,h2,h3,h4,h5,h6{text-align:left}
ul,li{list-style:none}
button,label{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
hr{display:none}

html {
  -webkit-text-size-adjust: none;
}

html, body {
  direction: ltr;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0;
}

img, form, fieldset, svg {
  border: 0;
  vertical-align: top;
}

input, button, select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.blind, legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

body, textarea, input, select, textarea, button {
  font-family: "SamsungOne", sans-serif;
  line-height: 1.32;
}

@font-face {
  font-family: 'Arial';
  font-weight: normal;
  font-style: normal;
}



/* btn */
.s-btn-encased {
  display: inline-block;
  padding: 19px 42px 18px;
  border: 1px solid #000;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-color: transparent;
  font-weight: bold;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background, color, border-color;
  -o-transition-property: background, color, border-color;
  transition-property: background, color, border-color;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  font-size: 12px;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
  white-space: nowrap;
}

.s-btn-encased:hover, .s-btn-encased:active, .s-btn-encased:focus {
  background-color: #000;
  color: #fff;
}

.s-white .s-btn-encased, .s-btn-encased.s-white {
  border-color: #fff;
  color: #fff;
}

.s-white .s-btn-encased:hover, .s-white .s-btn-encased:active, .s-white .s-btn-encased:focus, .s-btn-encased.s-white:hover, .s-btn-encased.s-white:active, .s-btn-encased.s-white:focus {
  background-color: #fff;
  color: #000;
}


.s-energy-label__txt {
  font-size: 13px;
  color: #363636;
  font-weight: bold;
  letter-spacing: .06em;
  text-transform: uppercase;
  vertical-align: top;
}

.s-energy-label__txt:hover, .s-energy-label__txt:focus {
  text-decoration: underline;
}

.s-energy-label__tag {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  margin: -1px 0px 0px 7px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.s-energy-label__tag span {
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 99em;
  vertical-align: top;
}

.s-energy-label__tag.s-first-level {
  background-image: url(../img/svg-level-first.svg);
}

.s-energy-label__tag .s-grade-a {
  background-image: url(../img/svg-level-a.svg);
}


.product-card {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 49px 47px 0px;
}

.product-card__status {
  position: absolute;
  left: 50%;
  top: 22px;
  z-index: 10;
  width: 212px;
  margin-left: -106px;
  font-weight: bold;
  font-size: 12px;
  color: #e02500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

.product-card__img {
  margin-bottom: 13px;
  text-align: center;
}

.product-card__img-link {
  display: block;
  padding: 0px 27px;
}

.product-card__img img {
  width: 100%;
}

.product-card__colorpicker {
  max-width: 180px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  min-height: 57px;
  margin: 0px auto;
}

.product-card__colorpicker li[role="option"] {
  display: inline-block;
  padding: 4px 6px;
}

.product-card__colorpicker li[role="option"] .colorpicker-color {
  display: block;
  position: relative;
  width: 16px;
  height: 16px;
}

.product-card__colorpicker li[role="option"] .colorpicker-color:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #363636;
  opacity: .5;
  content: '';
}

.product-card__colorpicker li[role="option"] .colorpicker-color:hover:after, .product-card__colorpicker li[role="option"] .colorpicker-color-active:after {
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid #363636;
  content: '';
}

.product-card__picker {
  max-width: 240px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  min-height: 69px;
  margin: 0px auto;
}

.product-card__picker li[role="option"] {
  display: inline-block;
  padding: 4px 6px;
}

.product-card__picker li[role="option"] .picker-option {
  display: block;
  position: relative;
  color: #363636;
  text-align: center;
  font-weight: bold;
  width: 42px;
  height: 22px;
  font-size: 14px;
  line-height: 23px;
}

.product-card__picker li[role="option"] .picker-option:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #363636;
  opacity: .6;
  content: '';
}

.product-card__picker li[role="option"] .picker-option:hover:after, .product-card__picker li[role="option"] .picker-option-active:after {
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid #363636;
  content: '';
}

.product-card__prd-info {
  text-align: center;
}

.product-card__prd-info a {
  display: block;
  font-weight: bold;
  color: #363636;
}

.product-card__prd-info .s-energy-label {
  margin-top: 2px;
}

.product-card__prd-info .s-energy-label .s-energy-label__txt, .product-card__prd-info .s-energy-label .s-energy-label__tag {
  display: inline-block;
}

.product-card__prd-info .s-energy-label__txt {
  margin-top: 1px;
  font-size: 15px;
}

.product-card__prd-info .s-energy-label__tag {
  width: 46px;
  height: 23px;
  font-size: 16px;
}

.product-card__prd-info .s-energy-label__tag span {
  width: 46px;
  height: 23px;
}

.product-card__name-wrapper {
  height: 121px;
}

.product-card__name {
  min-height: 87px;
  font-size: 20px;
  line-height: 28px;
  margin: 0px auto 5px;
}

.product-card__model {
  font-size: 12px;
  margin-bottom: 17px;
  color: #636363;
}

.product-card__price-wrapper {
  min-height: 37px;
}

.product-card__price {
  font-size: 16px;
  line-height: 16px;
}

.product-card__price strong {
  margin-left: 3px;
}

.product-card__promo {
  margin-top: -2px;
}

.product-card__promo strong {
  margin-left: 3px;
}

.product-card__promo-text--type1 {
  font-size: 12px;
  line-height: 14px;
  color: #636363;
  text-decoration: line-through;
}

.product-card__promo-text--type2 {
  font-size: 12px;
  line-height: 14px;
  color: #d91e27;
  margin-left: 3px;
}

.product-card__feature {
  width: 100%;
}

.product-card__feature-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 88px;
  border-collapse: collapse;
  border-top: 1px solid #dadada;
}

.product-card__feature-list .product-card__feature-title, .product-card__feature-list .product-card__feature-value {
  display: table-cell;
  vertical-align: middle;
  color: #363636;
}

.product-card__feature-title {
  width: 165px;
  padding-right: 24px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.product-card__feature-value {
  width: 165px;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
}

.product-card__feature-value .value-txt {
  display: inline;
  font-size: 16px;
}

.product-card__feature-value .value-txt--type1 {
  font-size: 32px;
  line-height: 87px;
}

.product-card__feature-value .value-txt--type2 {
  font-size: 12px;
  vertical-align: 12px;
}

.product-card__feature-value .value-txt--type3 {
  font-size: 12px;
  vertical-align: auto;
}

.product-card__feature-value .value-txt--type4 {
  font-size: 32px;
  line-height: 87px;
}

.product-card__feature-value img {
  width: 165px;
}

.product-card__feature-unit--type2 {
  font-size: 14px;
  font-weight: normal;
  vertical-align: 0;
}

.product-card__feature-award .product-card__feature-title {
  width: 90px;
  padding-right: 30px;
}

.product-card__feature-award .product-card__feature-value {
  text-align: right;
  font-size: 0;
  line-height: 0;
  width: 234px;
}

.product-card__feature-award .product-card__feature-value-multi span[role="listitem"] {
  display: inline-block;
  width: 25%;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-card__feature-award .product-card__feature-value-multi span[role="listitem"] img {
  width: 100%;
}

.product-card__feature-award .product-card__feature-value-multi span[role="listitem"]:first-child {
  margin-left: 0;
}

.product-card__feature-wrap {
  margin-top: 32px;
}

.product-card__review {
  padding: 28px 0px;
  border-top: 1px solid #dadada;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.product-card__review .review-link {
  display: block;
  width: 100%;
}

.product-card__review .review-count {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #1428a0;
  margin-left: 5px;
  vertical-align: middle;
  text-transform: uppercase;
}

.product-card__review .star-rating {
  display: inline-block;
  height: 16px;
  width: 105px;
  vertical-align: middle;
}

.product-card__review .star-rating__star {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin: 0px 1.5px;
  position: relative;
}

.product-card__review .star-rating__star .icon-star-empty {
  display: block;
  width: 100%;
  height: 100%;
}

.product-card__review .star-rating__star .icon-star-empty:after {
  content: '';
  display: block;
  width: 18px;
  height: 16px;
  background: url(../img/svg-ico-star-line-blue.svg) no-repeat;
  background-size: 100%;
}

.product-card__review .star-rating__star .icon-star-filled {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-card__review .star-rating__star .icon-star-filled:after {
  content: '';
  display: block;
  width: 18px;
  height: 16px;
  background: url(../img/svg-ico-star-blue.svg) no-repeat;
  background-size: 100%;
  color: #1428a0;
}

.product-card__btn-wrap {
  position: absolute;
  z-index: 10;
  padding: 0px 47px;
  bottom: 88px;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-card__btn-wrap .s-btn-encased {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.product-card__btn-txt {
  text-align: center;
}

.product-card__btn-txt:before, .product-card__btn-txt:after {
  content: '';
  display: block;
  clear: both;
}

.product-card__btn-txt .btn-holder .btn-icon {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
  white-space: nowrap;
}

.product-card__btn-txt .btn-holder .btn-icon span {
  display: inline-block;
  vertical-align: middle;
}

.product-card__btn-txt .btn-holder .btn-icon .ic-type1 {
  margin-right: 3px;
  width: 10px;
  height: 20px;
  background: #0066cc;
}

.product-card__btn-txt--half .btn-holder {
  float: left;
  width: 50%;
  text-align: left;
}

.product-card__actions {
  margin-top: 25px;
}

.product-card__actions .available .btn-encased {
  border-color: #000;
  color: #000;
}

.product-card__actions .available .btn-encased:hover {
  border-color: #000;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.product-card__actions-cta-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  vertical-align: middle;
}

.product-card__actions-cta-btn {
  margin-top: 46px;
}

.product-card__actions-cta-btn:before, .product-card__actions-cta-btn:after {
  content: '';
  display: block;
  clear: both;
}

.product-card__actions-cta-holder {
  float: left;
  width: 50%;
  text-align: right;
}

.product-card__actions-cta-holder a {
  display: inline-block;
  color: #000;
  line-height: 16px;
  word-break: break-word;
}

.product-card__actions-cta-holder a .cta-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.33;
}

.product-card__actions-cta-holder:first-child {
  text-align: left;
}

.product-card a .ico-radio-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-card a .ico-radio-btn:after {
  display: none;
  margin: 2px 0 0 2px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000;
  background: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.product-card a:hover .ico-radio-btn:after,
.product-card .selected .ico-radio-btn:after {
  display: block;
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-title {
    line-height: 18px;
    line-height: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value {
    width: 332.8px;
    width: 43.33333vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value {
    width: 156px;
    width: 43.33333vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value .value-txt {
    font-size: 29.86667px;
    font-size: 3.88889vw;
    line-height: 40.53333px;
    line-height: 5.27778vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt {
    font-size: 14px;
    font-size: 3.88889vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt {
    line-height: 19px;
    line-height: 5.27778vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value .value-txt--type1 {
    font-size: 68.26667px;
    font-size: 8.88889vw;
    line-height: 170.66667px;
    line-height: 22.22222vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type1 {
    font-size: 32px;
    font-size: 8.88889vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type1 {
    line-height: 80px;
    line-height: 22.22222vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value .value-txt--type2 {
    font-size: 25.6px;
    font-size: 3.33333vw;
    line-height: 57.6px;
    line-height: 7.5vw;
    vertical-align: 17.06667px;
    vertical-align: 2.22222vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type2 {
    font-size: 12px;
    font-size: 3.33333vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type2 {
    line-height: 27px;
    line-height: 7.5vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type2 {
    vertical-align: 8px;
    vertical-align: 2.22222vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value .value-txt--type3 {
    font-size: 25.6px;
    font-size: 3.33333vw;
    line-height: 57.6px;
    line-height: 7.5vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type3 {
    font-size: 12px;
    font-size: 3.33333vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type3 {
    line-height: 27px;
    line-height: 7.5vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value .value-txt--type4 {
    font-size: 68.26667px;
    font-size: 8.88889vw;
    line-height: 170.66667px;
    line-height: 22.22222vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type4 {
    font-size: 32px;
    font-size: 8.88889vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value .value-txt--type4 {
    line-height: 80px;
    line-height: 22.22222vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-value img {
    width: 117.33333px;
    width: 15.27778vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-value img {
    width: 55px;
    width: 15.27778vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-award .product-card__feature-title {
    width: 96px;
    width: 12.5vw;
    padding-right: 25.6px;
    padding-right: 3.33333vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-award .product-card__feature-title {
    width: 45px;
    width: 12.5vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-award .product-card__feature-title {
    padding-right: 12px;
    padding-right: 3.33333vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-award .product-card__feature-value {
    width: 398.93333px;
    width: 51.94444vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-award .product-card__feature-value {
    width: 187px;
    width: 51.94444vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-award .product-card__feature-value-multi span[role="listitem"] {
    padding-left: 27.73333px;
    padding-left: 3.61111vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-award .product-card__feature-value-multi span[role="listitem"] {
    padding-left: 13px;
    padding-left: 3.61111vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__feature-award .product-card__feature-value-multi span[role="listitem"] img {
    width: 80px;
    width: 10.41667vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__feature-award .product-card__feature-value-multi span[role="listitem"] img {
    width: 37.5px;
    width: 10.41667vw;
  }
}

@media screen and (max-width: 768px) {
  .product-card__btn-wrap {
    padding: 0px 25.6px;
    padding: 0vw 3.33333vw;
    bottom: 57.6px;
    bottom: 7.5vw;
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__btn-wrap {
    padding: 0px 12px;
    padding: 0vw 3.33333vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 360px) {
  .product-card__btn-wrap {
    bottom: 27px;
    bottom: 7.5vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .product-card__img {
    margin-bottom: 19px;
  }
  .product-card__colorpicker {
    max-width: 426.66667px;
    max-width: 55.55556vw;
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (max-width: 360px) {
  .product-card__colorpicker {
    max-width: 200px;
    max-width: 55.55556vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .product-card__picker {
    max-width: 426.66667px;
    max-width: 55.55556vw;
    height: 131px;
    margin: 0px auto 6.4px;
    margin: 0vw auto 0.83333vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (max-width: 360px) {
  .product-card__picker {
    max-width: 200px;
    max-width: 55.55556vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (max-width: 360px) {
  .product-card__picker {
    margin: 0px auto 3px;
    margin: 0vw auto 0.83333vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .product-card__name-wrapper {
    width: 360px !important;
  }
  .product-card__name {
    height: 152px;
  }
  .product-card__price {
    margin-bottom: 12px;
  }
  .product-card .s-energy-label {
    height: 30px;
  }
}

/* Product Compare */
.product-compare {
  max-width: 1440px;
  margin: 0 auto;
}

.product-compare__headline {
  margin-bottom: 49px;
  text-align: center;
}

.product-compare__headline-title {
  width: 684px;
  margin: 81px auto 0px;
  font-size: 40px;
}

.product-compare__headline-desc {
  width: 920px;
  margin: 19px auto 0px;
  font-size: 18px;
}

.product-compare .product-card__wrap {
  margin-top: 82px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}


.product-compare .product-card__wrap:before, .product-compare .product-card__wrap:after {
  content: '';
  display: block;
  clear: both;
}

.product-compare .product-card__wrap-trisection .product-card__wrap-inner {
  width: 33.33%;
}

.product-compare .product-card__wrap-half .product-card__wrap-inner {
  width: 50%;
}

.product-compare .product-card__wrap-inner {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
}

.product-compare .product-card__wrap-inner:nth-child(even) .product-card {
  background: #f7f7f7;
}

.product-compare .product-card__wrap-inner .product-card {
  position: relative;
  padding-bottom: 155px;
}

.product-compare .product-card__wrap-inner .slick-arrow {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 11px;
  height: 19px;
  background-color: transparent;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-size: 0;
  line-height: 0;
}

.product-compare .product-card__wrap-inner .slick-arrow:after {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 11px;
  height: 19px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
}

.product-compare .product-card__wrap-inner .slick-arrow:hover, .product-compare .product-card__wrap-inner .slick-arrow:focus {
  background-color: transparent;
}

.product-compare .product-card__wrap-inner .slick-arrow.slick-disabled, .product-compare .product-card__wrap-inner .slick-arrow.slick-hidden {
  display: none !important;
}

.product-compare .product-card__wrap-inner .slick-arrow.slick-prev {
  top: 358px;
  left: 54px;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.product-compare .product-card__wrap-inner .slick-arrow.slick-prev:after {
  background-image: url(../img/svg-arw-left-narrow.svg);
}

.product-compare .product-card__wrap-inner .slick-arrow.slick-next {
  top: 358px;
  right: 52px;
  margin: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.product-compare .product-card__wrap-inner .slick-arrow.slick-next:after {
  background-image: url(../img/svg-arw-right-narrow.svg);
}

.product-compare .product-card__img {
  margin-bottom: 16px;
}

.product-compare .product-card__colorpicker {
  max-width: 210px;
  min-height: 44px;
  margin-bottom: 14px;
}

.product-compare .product-card__colorpicker li[role="option"] {
  width: 18px;
  padding: 4px 8px;
}

.product-compare .product-card__colorpicker li[role="option"] .colorpicker-color {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.product-compare .product-card__colorpicker li[role="option"] .colorpicker-color:before {
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.product-compare .product-card__colorpicker li[role="option"] .colorpicker-color:hover:after, .product-compare .product-card__colorpicker li[role="option"] .colorpicker-color-active:after {
  border: 1px solid #2c3d8d;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.product-compare .product-card__picker {
  max-width: 100%;
  min-height: 54px;
  margin: 0px auto 12px;
}

.product-compare .product-card__picker li[role="option"] .picker-option {
  min-width: 40px;
  height: 18px;
  padding: 0px 8px;
  font-size: 12px;
  line-height: 20px;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-compare .product-card__picker li[role="option"] .picker-option:hover:after, .product-compare .product-card__picker li[role="option"] .picker-option-active:after {
  border: 1px solid #1428a0;
}

.product-compare .product-card__prd-info {
  margin-bottom: 0px;
  margin-bottom: 0vw;
}

.product-compare .product-card__name-wrapper {
  margin: 0px auto;
}

.product-compare .product-card__name {
  min-height: 87px;
  font-size: 20px;
  line-height: 28px;
  margin: 7px auto 5px;
}

.product-compare .product-card__model {
  font-size: 12px;
  margin-bottom: 20px;
  color: #636363;
}

.product-compare .product-card__price-wrapper {
  min-height: 37px;
  margin-top: 2px;
}

.product-compare .product-card__price {
  font-size: 16px;
  line-height: 16px;
}


.product-compare .product-card__price strong {
  margin-left: 3px;
}

.product-compare .product-card__feature {
  width: 100%;
}

.product-compare .product-card__feature-list {
  height: 76px;
  line-height: 76px;
  width: 100%;
}

.product-compare .product-card__feature-list:before, .product-compare .product-card__feature-list:after {
  content: '';
  display: block;
  clear: both;
}

.product-compare .product-card__feature-title {
  display: block;
  float: left;
  width: 47%;
  height: 76px;
  padding-right: 6%;
  line-height: 76px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-compare .product-card__feature-value {
  display: block;
  float: right;
  width: 47%;
  height: 76px;
  line-height: 76px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-compare .product-card__feature-value img {
  max-width: 100%;
  vertical-align: middle;
}

.product-compare .product-card__feature-value .value-txt {
  max-width: 99%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
}

.product-compare .product-card__feature-value .value-txt--type1 {
  line-height: 76px;
}

.product-compare .product-card__feature-value .value-txt--type4 {
  line-height: 76px;
}

.product-compare .product-card__feature-award {
  padding-bottom: 0;
}

.product-compare .product-card__feature-award .product-card__feature-title {
  width: 25%;
  padding-right: 6%;
}

.product-compare .product-card__feature-award .product-card__feature-value {
  width: 69%;
}

.product-compare .product-card__feature-award .product-card__feature-value-multi span[role="listitem"] {
  width: 40px;
  padding-left: 12px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


.product-compare .product-card__feature-award .product-card__feature-value-multi span[role="listitem"]:first-child {
  padding-left: 0;
}

.product-compare .product-card__btn-wrap {
  bottom: 88px;
  padding: 0px 47px;
}

.product-compare .product-card__btn-wrap .s-btn-encased {
  background: #1428a0;
  border-color: #1428a0;
  color: #fff;
}

.product-compare .product-card__btn-wrap .s-btn-encased:hover, .product-compare .product-card__btn-wrap .s-btn-encased:active, .product-compare .product-card__btn-wrap .s-btn-encased:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
}