@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,strong{margin:0;padding:0}
html,body{height:100%}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{color:#000;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
hr{display:none}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:999px}

.slides_area{position:relative;min-width:990px;max-width:1160px;margin:0 auto;text-align:right}
.slides_wrap{overflow:hidden;position:relative;width:990px;margin:0 auto}
.slides_area button{overflow:hidden;background:url(../img/sp.png) no-repeat;font-size:0;line-height:0}
.slides_area .prev,.slides_area .next{position:absolute;top:50%;z-index:20;width:50px;height:50px;margin-top:-25px}
.slides_area .prev{left:20px}
.slides_area .next{right:20px;background-position:-52px 0}
.slides_area .ctrl{display:inline-block;position:relative;z-index:20;margin-right:10px;margin-top:416px;font-size:0}
.slides_area .play,.slides_area .stop{display:inline-block;overflow:hidden;width:12px;height:12px;margin-left:8px}
.slides_area .play{background-position:0 -52px}
.slides_area .stop{background-position:-14px -52px}
.slides_area ul{float:right;font-size:0;line-height:0}
.slides_area li{float:left;height:32px;margin-top:416px;font-size:0}
.slides_area li .img{position:absolute;top:0;left:0}
.slides_area li .page{display:inline-block;overflow:hidden;position:relative;z-index:20;width:12px;height:12px;margin-right:8px;background:rgba(50,50,50,.3)}
.slides_area li .page.on{background:#000}