@charset "utf-8";
*{margin:0;padding:0}
body{font-size:14px;line-height:1.5;color:#555}
h1,h2,h3,h4,h5,h6{text-align:left}
ul,li{list-style:none}
button,label{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
hr{display:none}
#wrapper{padding:0 10px}
.exam_wrap{padding:10px 0}
.exam_wrap h1{margin:5px 0;font-size:1em}
.exam_q ul{zoom:1}
.exam_q ul:after{display:block;clear:both;content:''}
.exam_q ul li{float:left;width:100px;height:100px;margin-left:10px;border:1px solid green}
.exam_q ul li:first-child{margin-left:0}
