@charset "utf-8";
/* HIVELAB (http://www.hivelab.co.kr) */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{height:100%}
body{}
h1,h2,h3,h4,h5,h6{font-weight:normal}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none;color:#333}
table{border-collapse:collapse;border-spacing:0}
hr{display:none}
.blind,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}
#skip{height:0}
#skip a{display:block;position:absolute;left:0;top:-100px;width:100%;height:25px;text-align:center}
#skip a:focus,#skip a:active{position:absolute;top:0;z-index:100;padding:10px 0;background:#77a835;font-weight:bold;color:#fff;font-size:20px;text-decoration:none}
#container{max-width:1024px;margin:0 auto}
.wrap_slide,.slide_view{position:relative}
.wrap_slide .btn_arrow{position:absolute;top:50%;z-index:20;margin-top:-44px;padding:20px 10px}
.wrap_slide .btn_arrow span{display:inline-block;overflow:hidden;position:relative;width:30px;height:46px;line-height:9999px}
.wrap_slide .btn_arrow.btn_prev{left:0}
.wrap_slide .btn_arrow.btn_next{right:0}
.wrap_slide .btn_arrow.btn_prev span{background:url(img/svg-arw-left.svg) no-repeat}
.wrap_slide .btn_arrow.btn_next span{background:url(img/svg-arw-right.svg) no-repeat}
.slide_img li{position:absolute;top:0;left:0}
.slide_img li.active{z-index:10}
.slide_img{min-height:500px}
.slide_dots{margin-top:20px;text-align:center}
.slide_dots li{display:inline-block}
.slide_dots li button{margin:0 3px}
.slide_dots li button span{display:block;overflow:hidden;position:relative;width:10px;height:10px;border:1px solid #000;border-radius:50%;line-height:99px}
.slide_dots li.active button span{background:#000}