@charset "utf-8";
*{margin:0;padding:0}
body{font-size:14px;line-height:1.5;color:#555}
h1,h2,h3,h4,h5,h6{text-align:left}
ul,li{list-style:none}
button,label{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
hr{display:none}

.create_wrap{width:450px;margin:0 auto}
.swiper-container{overflow:hidden;width:450px;height:336px}
.swiper-container img{max-width:100%;vertical-align:top}
.swiper-wrapper{position:relative;height:100%;}
.swiper-wrapper .swiper-slide{position:absolute;left:0;top:0}
.btn_random{display:block;margin:20px auto 0;padding:10px 15px;border:2px solid #390;border-radius:10px;background:transparent;font-weight:bold;color:#390}
.text-box{margin-top:20px;font-size:12px;text-align:center}