@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
html {
  font-family: 'Nanum Gothic Coding', monospace; }

.content-wrap {
  padding: 10px; }
  .content-wrap h1 {
    font-size: 23px;
    margin: 5px 0;
    font-weight: bold; }
  .content-wrap h2 {
    font-size: 20px;
    margin: 5px 0; }
  .content-wrap p {
    font-size: 15px;
    margin: 3px 0 5px 0; }
  .content-wrap .date {
    color: lightgrey; }
  .content-wrap .description {
    color: grey; }
  .content-wrap .result {
    width: 100%; }
    .content-wrap .result .with-jquery,
    .content-wrap .result .without-jquery {
      width: 100%;
      height: auto; }
      .content-wrap .result .with-jquery .html,
      .content-wrap .result .with-jquery .javascript,
      .content-wrap .result .without-jquery .html,
      .content-wrap .result .without-jquery .javascript {
        margin: 10px 0;
        border: solid 1px black;
        float: left;
        min-height: 500px;
        height: 800px;
        width: 49.5%; }
  .content-wrap .hide {
    display: none; }
  .content-wrap .show-hide-button {
    cursor: pointer;
    font-family: tahoma, monospace;
    font-size: 13px;
    margin: 20px 0 0 10px; }
